# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node junk
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Root environment files
.env
.env.*

# TanStack plugin stuff
.tanstack

# Server
server/node_modules
server/dist
server/.env
server/.env.*

# Client
client/node_modules
client/dist
client/dist-ssr
client/.env
client/.env.*

