@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main_color: #2e66d5;
  --main_color_weak: #2b2b2b77;
  --card_bg: #f0f0f0;
  --card_item_bg: #f0f0f0;
  --modal_bg: #fff;
  --body_bg: #ffffff;
  --body_bg_weak: #ffffffe4;
  --text_color: #111111;
  --text_color_weak: #757575;
  --lines_color: #e3e3e3;
}

.dark {
  --main_color: #2e66d5;
  --main_color_weak: #2b2b2b77;
  --card_bg: #262626;
  --card_item_bg: #353535;
  --modal_bg: #232323;
  --body_bg: #181818;
  --body_bg_weak: #181818e4;
  --text_color: #f1f1f1;
  --text_color_weak: #949494;
  --lines_color: #353535;
}

body {
  color-scheme: light dark;
  background-color: var(--body_bg);
  color: var(--text_color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.persist_link{
  color: var(--text_color) !important;
}