@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --main_color: #2e66d5;
  --main_color_weak: #2b2b2b77;
  --card_bg: #f0f0f0;
  --body_bg: #ffffff;
  --text_color: #111111;
  --text_color_weak: #757575;
  --lines_color: #ececec;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main_color: #2e66d5;
    --main_color_weak: #2b2b2b77;
    --card_bg: #2b2b2b;
    --body_bg: #181818;
    --text_color: #f1f1f1;
    --text_color_weak: #949494;
    --lines_color: #474747;
  }
}

body {
  color-scheme: light dark;
  overflow: hidden !important;
  background-color: var(--body_bg);
  color: var(--text_color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
